name: Build CI

on:
  push:
    branches: [ "master" ]
    paths: &paths
      - ".github/**"
      - "src/**"
      - "config.mk"
      - "Makefile"

  pull_request:
    branches: [ "master" ]
    paths: *paths

jobs:
  build-man:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install scdoc
        run: sudo apt-get install -y scdoc

      - name: Generate man pages
        run: make -C man

  build-glibc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install build dependencies
        run: sudo apt-get install -y libelf-dev

      - name: Build (glibc)
        run: make -C src

  build-musl:
    runs-on: ubuntu-latest
    container: alpine:latest

    steps:
      - uses: actions/checkout@v3

      - name: Install build dependencies
        run: apk add build-base g++ make elfutils-dev

      - name: Build (musl)
        run: make -C src

